body {
    margin: 15px;
}


.theorem {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #EEFFCC;
    font-size: 150%;
    border: 1px solid #ac9;
    border-radius: 3px;
    line-height: 125%;
}
.definition  {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffc;
    font-size: 150%;
    border: 1px solid #dddd66;
    border-radius: 3px;
    line-height: 125%;
}
{
    font-weight: bolder;
}

p {
    padding: 3px;
    word-wrap: break-word;
}

