body {
    margin: 15px;
}
p {
    padding: 3px;
    word-wrap: break-word !important;
 
}

section {
    border-radius: 3px;
    line-height: 125%;
    font-size: 150%;
    margin-left: 20%;
    margin-right: 20%;
}
.theorem {
    background-color: #EEFFCC;
    border: 1px solid #ac9;

}
.definition  {
    background-color: #ffc;
    border: 1px solid #dddd66;
}

mjx-math{
    word-wrap: break-word !important;
    white-space: normal!important;
}
